body{
    background-color:hsl(212, 33%, 83%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}
.container{
    background-color: hsl(0, 0%, 100%);
    max-width: 20rem;
    border-radius: 20px;
    align-self: center;
}

.div-image{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.header{
    color: hsl(218, 44%, 22%);
    font-weight: 700;
    font-size: 22px;
    line-height: 120%;
}

.discripts{
    color: hsl(220, 15%, 55%);
    font-weight: 400, 700;
    font-size: 15px;
    line-height: 140%;
    letter-spacing: 0.2px;
}

.texts{
    margin: auto;
    padding: 0 16px;
    text-align: center;
    flex-direction: column;
    gap: 16px;
}

img{
    border-radius: 15px;
    margin: auto;
    width: 90%;
    height: 90%;
    margin-top: 8px;
}


@media screen and (min-width: 340px) {
    .container{
        width: 100%;
        padding-top: 1px;
        padding-bottom: 20px;
    }
    img{
        width: 90%;
        height: 90%;
    }
    body{
        padding-top: 12%;
    }
    
}